<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca Minas</title>
    <link rel="stylesheet" href="../Assets/Css/bootstrap.css">
    <link rel="stylesheet" href="../Assets/Css/Style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="../Assets/Img/Logo.png" class="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" href="./Buscaminas.html">Busca Minas</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="./Ajedrez.html">Ajedrez</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="main-content">
        <div style="display: none;">
            <audio id="audioBomba" controls>
                <source type="audio/wav" src="/Assets/Sounds/Bm/Bomb.wav">
            </audio>
            <audio id="audioClick" controls>
                <source type="audio/wav" src="/Assets/Sounds/Bm/Click.wav">
            </audio>
            <audio id="audioVictoria" controls>
                <source type="audio/wav" src="/Assets/Sounds/Bm/Victoria.wav">
            </audio>
            <audio id="audioBandera" controls>
                <source type="audio/wav" src="/Assets/Sounds/Bm/Bandera.wav">
            </audio>
            <audio id="audioBCambio" controls>
                <source type="audio/wav" src="/Assets/Sounds/Bm/CambioBandera.wav">
            </audio>
        </div>
        <table id="TablaEntrada">
            <tr>
                <td>
                    <b>Columnas:<input type="number" min="0" id="Ccolumnas" value="0"></b>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Filas:<input type="number" min="0" id="Cfilas" value="0"></b>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Minas:<input type="number" min="0" id="Cminas" value="0"></b>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" onclick="RecuperarMinas()">Empezar</button>
                </td>
            </tr>
        </table>
        <div id="content">
            <a onclick="modoBandera()" class="cajaBandera cajaBanderaNoSeleccionada" id="cajaBandera">            
                🚩
            </a>

        </div>
    </main>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center ps-3">
          <span class="text-muted">Mini Juegos</span>
        </div>
    </footer>

    <script src="../Js/buscaMinas.js"></script>
    <script src="../Js/bootstrap.js"></script>
</body>
</html>