.casillaBM{
    width: 30px; 
    height: 30px; 
    background: whitesmoke;
    border: 3px solid #555;
}
.BombaBM{
    width: 30px; 
    height: 30px; 
    background: red;
    border: 3px solid #555;

}
.tableBM{
    background-color: black;
    margin: auto;
    border: 6px solid black;
    margin-left: 85px;
    margin-right: 85px;
}
.casillaA{
    color:black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
@mixin Mapa ($color) {  
    text-align: center;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    text-decoration: none;
    font-size: 40px;
    border-radius: 50px;
    background-color: $color;
    border: 5px;
    border-color: black;
    border-style: solid;
    display: inline-block; 
    vertical-align: middle;
    margin: 0%;
}

.cajaBandera{
    @include Mapa (white)
}
.cajaBanderaSeleccionada{
    @include Mapa (gray)
}
.cajaReiniciar{
    @include Mapa (white)
}

.btnBM{
    transition-duration: 0.4s;
    background-color: white; 
    color: black; 
    border: 2px solid black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btnBM:hover{
    background-color: black;
    color: white;
}
.tablaEstadisticas{
    width: 600px;
}
.tablaEstadisticas-2{
    td {
        width: 300px;
    }
}
.tablaEstadisticas-3{
    td {
        width: 200px;
    }
}

